<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.maateen.me/kalpurush/font.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style37.css') }}"
        />
        <title>Bangla Character Recognizer</title>
    </head>
    <body>
        <div class="header">
            <a href="#default" id="logo">Bangla Character Recognizer</a>
            <a
                id="github"
                href="https://github.com/SaihanTaki/Bangla-Character-Recognition"
                >Source Code</a
            >
        </div>

        <!-- --------------------------------------------------------- -->

        <div class="container">
            <div class="input">
                <div class="button" id="btn-clear">Clear Board</div>
                <canvas id="canvas"> </canvas>
                <div class="button" id="btn-predict">Predict</div>
                <div class="loader"></div>
                <h3 id="result">
                    <span> </span>
                </h3>
            </div>
            <div class="output">
                <h3>Result</h3>
                <div id="outCanvas"></div>
            </div>
        </div>

        <!-- --------------------------------------------------------------------- -->

        <script src="{{ url_for('static', filename='js/script39.js') }}"></script>
    </body>
</html>
